.header {
  position: relative; 
  background: #ffffff; 
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: auto; 
  height: 50px;
}

.header-nav {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-left: -100px;
}

.header-btn {
  width: 100px;
  height: 38px;
  background: #ffb36c;
  border: none;
  border-radius: 12px; 
  
  font-size: 14px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}